.is-invalid {
   border: 1px solid red;
}

.items{
   text-align: center;
}

.bot {
   width: 70px;
   padding: 12px;
   cursor: pointer;
   background-color: rgb(47, 122, 244);
   color: rgb(255, 255, 255);
   border-radius: 8%;
   border: 1px solid #ccc;
}

.form-control{
   width: 30%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-inline: 20px;
}