<div class="container">
<form (ngSubmit)="guardar()" #forma="ngForm">
  <div class="items">

    <label for="">Correo Electronico</label>
    <input class="form-control" 
          type="text"
          placeholder="Escribir correo electronico..."
          name="email"
          [(ngModel)]="validar.formularioCorreo"
          required
          minlength="12"
          #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched"
          pattern="^(([^<>()\[\]\.,;:\s@\”]+(\.[^<>()\[\]\.,;:\s@\”]+)*)|(\”.+\”))@(([^<>()[\]\.,;:\s@\”]+\.)+[^<>()[\]\.,;:\s@\”]{2,})$"
          >
          
          <button class="bot" type="submit" [disabled]="!forma.valid">Verificar</button>
          
        </div>
      </form>

      <div *ngIf="email.invalid && email.touched">
        <small class="text-danger">El correo electrónico no es valido</small>
      </div>

      <div *ngIf="verificar">
        <small class="text-success">El correo electrónico es valido</small>
      </div>
</div>